.gitbook-link {
  display: none !important;
}
.book.font-family-0 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.body-inner .i18n {
  position: absolute;
  right: 140px;
  top: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #ccc;
  font-size: 14px;
  display: inline-block;
}

.body-inner .i18n:hover {
  color: #999;
}
