<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.escheduler.dao.mapper.UserMapper">

    <select id="queryAllGeneralUser" resultType="cn.escheduler.dao.entity.User">
        select * from t_escheduler_user
        where user_type=1;
    </select>
    <select id="queryByUserNameAccurately" resultType="cn.escheduler.dao.entity.User">
        select * from t_escheduler_user
        where user_name=#{userName}
    </select>
    <select id="queryUserByNamePassword" resultType="cn.escheduler.dao.entity.User">
        select * from t_escheduler_user
        where user_name=#{userName} and user_password = #{password}
    </select>

    <select id="queryUserPaging" resultType="cn.escheduler.dao.entity.User">
        select u.id,u.user_name,u.user_password,u.user_type,u.email,u.phone,u.tenant_id,u.create_time,
        u.update_time,t.tenant_name,
        case when u.queue  <![CDATA[ <> ]]> '' then u.queue else q.queue_name end as queue, q.queue_name
        from t_escheduler_user u
        left join t_escheduler_tenant t on u.tenant_id=t.id
        left join t_escheduler_queue q on t.queue_id = q.id
        where 1=1
        <if test="userName!=null and userName != ''" >
             and u.user_name like concat ('%', #{userName}, '%')
        </if>
        order by u.update_time desc
    </select>

    <select id="queryDetailsById" resultType="cn.escheduler.dao.entity.User">
        select u.*, t.tenant_name,
        case when u.queue <![CDATA[ <> ]]>  '' then u.queue else q.queue_name end as queue_name
        from t_escheduler_user u,t_escheduler_tenant t,t_escheduler_queue q
        WHERE u.tenant_id = t.id and t.queue_id = q.id and u.id = #{userId}
    </select>

    <select id="queryUserListByAlertGroupId" resultType="cn.escheduler.dao.entity.User">
      select u.*
      from t_escheduler_user u, t_escheduler_relation_user_alertgroup rel
      where u.id = rel.user_id AND u.user_type = 1 AND rel.alertgroup_id = #{alertgroupId}
    </select>

    <select id="queryTenantCodeByUserId" resultType="cn.escheduler.dao.entity.User">
        SELECT  u.*,t.tenant_code
        FROM  t_escheduler_user u, t_escheduler_tenant t
        WHERE u.tenant_id = t.id AND u.id = #{userId}
    </select>
    <select id="queryUserByToken" resultType="cn.escheduler.dao.entity.User">
        select u.*
        from t_escheduler_user u ,t_escheduler_access_token t
        where u.id = t.user_id and token=#{token} and t.expire_time > NOW()
    </select>
</mapper>