**/*.gz
**/*.zip
**/*.log
**/*.out
**/*.md
**/*.txt
**/*.jar

yarn.lock
package-lock.json
**/node_modules
**/Chart.lock
**/dist
**/node
**/target

.vscode
.settings
.idea/
.git
.nbproject
.classpath
.project
.factorypath
.gitignore
.github/

.DS_Store
docker/docker-swarm/dolphinscheduler-logs/
