root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 100

[*.java]
indent_style = space
indent_size = 4
tab_width = 4

[*.py]
indent_style = space
indent_size = 4

[*.xml]
indent_style = tab
indent_size = 4
