[submodule ".github/actions/comment-on-issue"]
	path = .github/actions/comment-on-issue
	url = https://github.com/xingchun-chen/actions-comment-on-issue
[submodule ".github/actions/lable-on-issue"]
	path = .github/actions/lable-on-issue
	url = https://github.com/xingchun-chen/labeler
[submodule ".github/actions/translation-on-issue"]
	path = .github/actions/translation-on-issue
	url = https://github.com/xingchun-chen/translation-helper
