# IDE files
.git
.svn
.hg
.zip
.gz
.DS_Store
.target
.idea/
!.idea/icon.png
!.idea/vcs.xml
.run/
.settings
.nbproject
.classpath
.project
*.iml
*.ipr
*.iws
*.tgz
.*.swp
.vim
.tmp
.vscode
__pycache__

# maven build files
target/
dist/
.mvn/

# In standalone mode, use 'jdbc:h2:./h2_db/dolphinscheduler;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=true' to avoid db loss after restart
h2_db

# dependency files when execute check-LICENSE.sh 
all-dependencies.txt
self-modules.txt
third-party-dependencies.txt

# logs files
logs

# ui module
package-lock.json
pnpm-lock.yaml

# ci
ds_schema_check_test
