/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.dag-model {
  background: url("../img/dag_bg.png");
  height: calc(100vh - 100px);
  ::selection {
    background:transparent;
  }
  ::-moz-selection {
    background:transparent;
  }
  ::-webkit-selection {
    background:transparent;
  }
  .jsplumb-connector {
    z-index: 1;
  }
  .endpoint-tasks {
    margin-top:22px;
  }
  .draggable {
    > span {
      text-align: center;
      display: block;
      margin-top: -4px;
      padding: 0 4px;
      width: 200px;
      margin-left: -81px;
      position: absolute;
      left: 0;
      bottom: -12px;
    }
    .fa {
      display: inline-block;
      position: absolute;
      right: -8px;
      top: -8px;
      z-index: 2;
      cursor: pointer;
    }
    .icos {
      display: inline-block;
      cursor: pointer;
    }
    &.active-tasks {
      span {
        color: #0296DF;
      }
    }
  }
  .icos {
    width: 32px;
    height: 32px;
    margin: 2px;
    border-radius: 3px;
    position: relative;
    z-index: 9;
  }
  .icos-SHELL {
    background: url("../img/toolbar_SHELL.png") no-repeat 50% 50%;
  }
  .icos-SUB_PROCESS {
    background: url("../img/toolbar_SUB_PROCESS.png") no-repeat 50% 50%;
  }
  .icos-PROCEDURE {
    background: url("../img/toolbar_PROCEDURE.png") no-repeat 50% 50%;
  }
  .icos-SQL {
    background: url("../img/toolbar_SQL.png") no-repeat 50% 50%;
  }
  .icos-SPARK {
    background: url("../img/toolbar_SPARK.png") no-repeat 50% 50%;
  }
  .icos-FLINK {
    background: url("../img/toobar_FLINK.png") no-repeat 50% 50%;
  }
  .icos-MR {
    background: url("../img/toolbar_MR.png") no-repeat 50% 50%;
  }
  .icos-PYTHON {
    background: url("../img/toolbar_PYTHON.png") no-repeat 50% 50%;
  }
  .icos-DEPENDENT {
    background: url("../img/toolbar_DEPENDENT.png") no-repeat 50% 50%;
  }
  .icos-HTTP {
    background: url("../img/toobar_HTTP.png") no-repeat 50% 50%;
  }
  .icos-DATAX {
    background: url("../img/toolbar_DATAX.png") no-repeat 50% 50%;
  }
  .icos-SQOOP {
    background: url("../img/toolbar_SQOOP.png") no-repeat 50% 50%;
  }
  .icos-CONDITIONS {
    background: url("../img/toobar_CONDITIONS.png") no-repeat 50% 50%;
  }
  .toolbar {
    width: 60px;
    height: 100%;
    background: #F2F3F7;
    float: left;
    border-radius: 0 0 0 3px;
    .title {
      height: 40px;
      line-height: 40px;
      background: #40434C;
      text-align: center;
      border-radius: 3px 0 0 0;
      span {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
    }
    .toolbar-btn {
      overflow: hidden;
      padding: 8px 11px 0 11px;
      .bar-box {
        width: 36px;
        height: 36px;
        float: left;
        margin-bottom: 3px;
        border-radius: 3px;
        .disabled {
          .icos {
            opacity: .6;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
          }
        }
        &:nth-child(odd) {
          margin-right: 6px;
        }
        &.active {
          background: #e1e2e3;
        }
      }
    }
  }
  .dag-contect {
    float: left;
    width: calc(100% - 60px);
    height: 100%;
    .dag-toolbar {
      height: 40px;
      background: #F2F3F7;
      position: relative;
      border-radius: 0 3px 0 0;
      .ans-btn-text {
        color: #337ab7;
        .ans-icon {
          font-size: 16px;
        }
      }
      .assist-btn {
        position: absolute;
        left: 10px;
        top: 7px;
        >.name {
          padding-left: 6px;
          vertical-align: middle;
        }
        >.copy-name {
          cursor: pointer;
          padding-left: 4px;
          position: relative;
          top: -2px;
          &:hover {
            i {
              color: #47c3ff;
            }
          }
          i {
            color: #333;
            font-size: 18px;
            vertical-align: middle;
          }
        }
      }
      .save-btn {
        position: absolute;
        right: 8px;
        top: 6px;
        .operation {
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          a {
            float: left;
            width: 28px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            margin-left: 6px;
            border-radius: 3px;
            vertical-align: middle;
            i {
              color: #333;
            }
            &.active {
              // background: #e1e2e3;
              i {
                color: #2d8cf0;
              }
            }
            &.disable {
              i {
                color: #bbb;
              }
            }
          }
        }
      }
    }
    .dag-container {
      height: calc(100% - 40px);
      overflow-x: auto;
      &::-webkit-scrollbar{
        width: 9px;
      }
    }
  }
  .tools-model {
    height: 60px;
    background: #F4F5F4;
    border-radius: 3px 3px 0px 0px;
  }
}
#screen {
  margin-right: 5px;
}
.v-modal-custom-log {
  z-index: 101;
}

svg path:hover {
  cursor: pointer;
}

#chart-container .ui-selecting {
  span {
    color: #0296DF;
  }
}
#chart-container .ui-selected {
  span {
    color: #0296DF;
  }
}

.contextmenu {
  position: fixed;
  width: 90px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  padding: 4px 0;
  visibility:hidden;
  a {
    height: 30px;
    line-height: 28px;
    display: block;
    i {
      font-size: 16px;
      vertical-align: middle;
      margin-left: 10px;
    }
    span {
      vertical-align: middle;
      font-size: 12px;
      color: #666;
      padding-left: 2px;
    }
    &:hover {
      background: #f6faff;
    }
    &#startRunning {
      i {
        color: #35cd75;
      }
    }
    &#editNodes {
      i {
        color: #0097e0;
      }
    }
    &#removeNodes {
      i {
        color: #f04d4e;
      }
    }
    &#copyNodes {
      i {
        color: #FABC05;
      }
    }
    &.disbled {
      i,span {
        color: #aaa !important;
      }
    }
  }
}

.jtk-demo {
  //min-width: calc(100% - 220px);
  width: 8000px;
  height: 5000px;
  svg:not(:root){
    z-index: 11;
  }
}

.jtk-demo-canvas {
  position: relative;
  height: 100%;
  display: flex;
}

.jtk-bootstrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.jtk-bootstrap .jtk-page-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex: 1;
}

.jtk-bootstrap .jtk-container {
  width: 60%;
  max-width: 800px;
}

.jtk-bootstrap-wide .jtk-container {
  width: 80%;
  max-width: 1187px;
}

.jtk-demo-main {
  position: relative;
  margin-top: 98px;
}

.jtk-demo-main .description {
  font-size: 13px;
  margin-top: 25px;
  padding: 13px;
  margin-bottom: 22px;
  background-color: #f4f5ef;
}

.jtk-demo-main .description li {
  list-style-type: disc !important;
}

.canvas-wide {
  padding-top: 10px;
  margin-left: 0;
  -ms-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
}

.jtk-demo-dataset {
  text-align: left;
  max-height: 600px;
  overflow: auto;
}

.demo-title {
  float: left;
  font-size: 18px;
}

.controls {
  top: 25px;
  color: #FFF;
  margin-right: 10px;
  position: absolute;
  left: 25px;
  z-index: 1;
}

.controls i {
  background-color: #3E7E9C;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
  padding: 4px;
}
.w {
  position: absolute;
  z-index: 4;
  font-size: 11px;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  border: 7px solid transparent;
  border-bottom: 30px solid transparent;
  .icos {
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: #fff;
  }
  .name-p {
    position: absolute;
    left: 50%;
    top: 58px;
    width: 200px;
    text-align: center;
    margin-left: -100px;
    word-break:break-all;
  }
  .ban-p {
    position: absolute;
    left: -4px;
    top: 36px;
    z-index: 21;
    i {
      font-size: 18px;
      color: #ff0000;
      cursor: pointer;
    }
  }
  .state-p {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 18px;
    text-align: center;
    cursor: pointer;
    b {
      font-weight: normal;
    }
  }
}

.aLabel {
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  background-color: white;
  opacity: 0.8;
  padding: 0.3em;
  border-radius: 0.5em;
  border: 1px solid #346789;
  cursor: pointer;
}

.aLabel.jtk-hover,
.jtk-source-hover,
.jtk-target-hover {
  .icos {
    background-color: #333;
    color: #333;
    -ms-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
  }
}

.jtk-tasks-active {
  .icos {
    background-color: #2db7f5;
    color: #0097e0;
    -ms-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
  }
}


.jtk-ep {
  .ep {
    display: block;
  }
}

.ep {
  position: absolute;
  top: -4%;
  right: -1px;
  width: 1em;
  height: 1em;
  z-index: 12;
  background-color: orange;
  cursor: pointer;
  box-shadow: 0 0 2px black;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in;
  -moz-transition: -moz-box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
  border-radius:100%;
  display: none;
}

.ep:hover {
  box-shadow: 0 0 6px black;
}

.statemachine-demo .jtk-endpoint {
  z-index: 3;
}

#canvas {
  .dot-style {
    opacity: 0;
  }
}

.from-mirror {
  width: 100%;
  position: relative;
  z-index: 0;
  .CodeMirror {
    height:auto;
    min-height: 72px;
  }

  .CodeMirror-scroll {
    height:auto;
    min-height: 72px;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.ans-modal-box.ans-drawer.ans-drawer-right.dagMask.mask {
    width: 628px;
    left: auto;
}


