/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "normalize";
@import "mixin";
@import "animation";
@import "font";
@import "scrollbar";
@import "table";

.ans-input {
  &.ans-input--default {
  }
  textarea,input {
    font-weight: 400;
  }
}

.ans-poptip {
  min-width: 158px;
}

.ans-checkbox-wrapper .checkbox-label,
.ans-radio-wrapper {
  font-weight: normal;
}

a:focus {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.CodeMirror-hints {
  z-index: 999 !important;
}

.cm-s-mdn-like .CodeMirror-gutters {
  border-left:0 !important;
}

.cm-s-mdn-like .CodeMirror-linenumber {
  padding-left: 0;
}

body{
  background: #EDEEED;
  font-family: "PingFangSC-Light,Helvetica Neue,Helvetica,Microsoft Yahei,Arial,Hiragino Sans GB,tahoma,SimSun,sans-serif";
  .home-main {
    min-height: calc(100vh - 100px);
    background: #fff;
    margin: 20px;
    border-radius: 3px;
    >.content-title {
      height: 48px;
      background: #f8fbfe;
      border-radius: 3px 3px 0 0;
      span {
        font-size: 22px;
        padding-left: 18px;
        padding-top: 10px;
        display: inline-block;
        color: #2A455B;
      }
    }
    >.conditions-box {
      //background: #f8fbfe;
    }
    .conditions-model {
      height: 50px;
      position: relative;
      .left {
        position: absolute;
        left: 12px;
        top: 13px;
      }
      .right {
        position: absolute;
        right: 8px;
        top: 13px;
        .from-box {
          .list {
            float: right;
            margin-right: 4px;
          }
        }
      }
    }
  }
  .main-layout-model {
    &.dag-screen {
      .m-bottom {
        z-index: 2;
      }
      .index-model {
        width: 100%;
        height: 100%;
        position: fixed;
        top: -20px;
        left: -20px;
        .dag-model {
          height: 100% !important;
        }
      }
    }
  }
}

// icon disabled state
.iconfont.icon-disabled {
  color: #999 !important;
}

.main-layout-box {
  padding-left: 200px;
  &.no {
    padding-left: 0;
  }
}

.tooltip-cont-model {
  width: 200px;
  height: 300px;
  background: #fff;
  border-radius: 3px;
  margin-left: -4px;
  margin-top: -4px;
}

.global-loading {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .svg-box {
    width: 100px;
    height: 66px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -100px;
    text-align: center;
    .sp1 {
      display: block;
      font-size: 14px;
      color: #999;
      padding-top: 4px;
    }
  }
}


.page-box {
  text-align: right;
  padding: 20px;
  .ans-page {
    display: inline-block;
  }
}


button[disabled='disabled'] {
  color: #bbbec4 !important;
  background-color: #f7f7f7 !important;
  border-color: #dddee1 !important;
}

.ans-icon-spinner.loading {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: fa-spin .6s infinite linear;
  animation: fa-spin .6s infinite linear;
}

.fa-spin {
  font-size: 16px;
}

.CodeMirror {
  border: 1px solid #DDDDDD !important;
  border-radius: 3px;
}






