## About DolphinScheduler for Kubernetes

{{ template "chart.description" . }}

This chart bootstraps all the components needed to run Apache DolphinScheduler on a Kubernetes Cluster using [Helm](https://helm.sh).

## QuickStart in Kubernetes

Please refer to the [Quick Start in Kubernetes](../../../docs/docs/en/guide/installation/kubernetes.md)

{{ template "chart.valuesSection" . }}
