<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testproj" parallel="false">
    <test name="testDemo1">
        <packages>
            <package name="org.apache.dolphinscheduler.testcase"/>
        </packages>
        <!--<classes>-->
        <!--<class name="org.apache.dolphinscheduler.testcase.*"></class>-->
        <!--</classes>-->
    </test>

    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
</suite>