<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="dolphinscheduler_e2e" parallel="true">
    <test name="dolphinscheduler_test" preserve-order="true">
        <groups>
            <run>
                <include name="functionTests" />
            </run>
        </groups>

        <classes>
            <class name="org.apache.dolphinscheduler.testcase.LoginTest"></class>
            <class name="org.apache.dolphinscheduler.testcase.security.TenantManageTest"></class>
            <class name="org.apache.dolphinscheduler.testcase.security.UserManageTest"></class>
            <class name="org.apache.dolphinscheduler.testcase.project.CreateProjectTest"></class>
            <!--<class name="org.apache.dolphinscheduler.testcase.project.CreateWorkflowTest"></class>-->
        </classes>
    </test>

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
</suite>
