.v-crontab-from-model {
  .list-box {
    //padding: 6px 0;

    .ans-radio-wrapper {
      height: auto !important;
    }
    .ans-radio-group-item {
      .text {
        color: #888;
      }
    }
    .ans-radio-wrapper-checked {
      .text {
        color: #0097e0;
      }
    }
    .ans-select {
      .tag-container {
        .tag-wrapper {
          line-height: 10px;
          margin-left: 6px;
          .tag-text {
            margin-right: 0;
          }
        }
      }
    }
  }
}