/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.sidebar {
}

.draggable {
  color: #000;
  border: 1px solid #00000040;
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-around;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.fav {
  width: 18px;
  height: 18px;
}

.draggable {
  &:hover {
    color: blue;
    border: 1px dashed blue;
    background-color: #fff;
  }
}

.sidebar-icon {
  display: block;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
  background-color: #fafafa;
}
