<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.AccessTokenMapper">
    <select id="selectAccessTokenPage" resultType="org.apache.dolphinscheduler.dao.entity.AccessToken">
        select * from t_ds_access_token t
        left join t_ds_user u on t.user_id = u.id
        where 1 = 1
        <if test="userName != null and userName != ''">
            and u.user_name like concat ('%', #{userName}, '%')
        </if>
        <if test="userId != 0">
            and t.user_id = #{userId}
        </if>
        order by t.update_time desc
    </select>
</mapper>