<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.AlertGroupMapper">
    <select id="queryAlertGroupPage" resultType="org.apache.dolphinscheduler.dao.entity.AlertGroup">
        select * from t_ds_alertgroup
        where 1 = 1
        <if test="groupName != null and groupName != ''">
            and group_name like concat('%', #{groupName}, '%')
        </if>
        order by update_time desc
    </select>
    <select id="queryByGroupName" resultType="org.apache.dolphinscheduler.dao.entity.AlertGroup">
        select * from t_ds_alertgroup
        where group_name=#{groupName}
    </select>
    <select id="queryByUserId" resultType="org.apache.dolphinscheduler.dao.entity.AlertGroup">
        select * from t_ds_alertgroup t
        left join t_ds_relation_user_alertgroup r on t.id=r.alertgroup_id
        where r.user_id=#{userId}
    </select>
    <select id="queryByAlertType" resultType="org.apache.dolphinscheduler.dao.entity.AlertGroup">
        select * from t_ds_alertgroup
        where group_type=#{alertType}
    </select>
    <select id="queryAllGroupList" resultType="org.apache.dolphinscheduler.dao.entity.AlertGroup">
        select *
        from t_ds_alertgroup
        order by update_time desc
    </select>
</mapper>