<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.AlertPluginInstanceMapper">

    <sql id="baseSql">
        id, plugin_define_id, plugin_instance_params, create_time, update_time, instance_name
    </sql>


    <select id="queryAllAlertPluginInstanceList"
            resultType="org.apache.dolphinscheduler.dao.entity.AlertPluginInstance">
        select
        <include refid="baseSql"/>
        from t_ds_alert_plugin_instance
        where 1 = 1 order by update_time desc
    </select>

    <select id="queryByIds" resultType="org.apache.dolphinscheduler.dao.entity.AlertPluginInstance">
        select
        <include refid="baseSql"/>
        from t_ds_alert_plugin_instance
        <if test="ids != null and ids.size() != 0">
            where id in
            <foreach item="item" index="index" collection="ids"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryByInstanceNamePage" resultType="org.apache.dolphinscheduler.dao.entity.AlertPluginInstance">
        select
        <include refid="baseSql"/>
        from t_ds_alert_plugin_instance
        where 1 = 1
        <if test="instanceName != null and instanceName != ''">
            and instance_name like concat('%', #{instanceName}, '%')
        </if>
        order by update_time desc
    </select>

    <select id="existInstanceName" resultType="java.lang.Boolean">
        select 1
        from t_ds_alert_plugin_instance
        where instance_name = #{instanceName} limit 1
    </select>

</mapper>
