<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.DataSourceMapper">
    <sql id="baseSql">
        id, name, note, type, user_id, connection_params, create_time, update_time
    </sql>
    <select id="queryDataSourceByType" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        <include refid="baseSql"/>
        from t_ds_datasource
        where type=#{type}
        <if test="userId != 0">
            and id in
            (select datasource_id
            from t_ds_relation_datasource_user
            where user_id=#{userId}
            union select id as datasource_id
            from t_ds_datasource
            where user_id=#{userId}
            )
        </if>
    </select>

    <select id="selectPaging" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        d.id, d.name, d.note, d.type, d.user_id, connection_params, d.create_time, d.update_time
        ,
        u.user_name as user_name
        from t_ds_datasource d
        join t_ds_user u on d.user_id = u.id
        where 1 =1
        <if test="userId != 0">
            and d.id in
            (select datasource_id
            from t_ds_relation_datasource_user
            where user_id=#{userId}
            union select id as datasource_id
            from t_ds_datasource
            where user_id=#{userId}
            )
        </if>
        <if test="name != null and name != ''">
            and name like concat ('%', #{name}, '%')
        </if>
        order by update_time desc
    </select>
    <select id="queryDataSourceByName" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        <include refid="baseSql"/>
        from t_ds_datasource
        where name=#{name}
    </select>
    <select id="queryAuthedDatasource" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select ds.id, ds.name, ds.note, ds.type, ds.user_id, ds.connection_params, ds.create_time, ds.update_time
        from t_ds_datasource ds, t_ds_relation_datasource_user rel
        where ds.id = rel.datasource_id AND rel.user_id = #{userId}
    </select>
    <select id="queryDatasourceExceptUserId" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        <include refid="baseSql"/>
        from t_ds_datasource
        where user_id <![CDATA[ <> ]]> #{userId}
    </select>
    <select id="listAllDataSourceByType" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        <include refid="baseSql"/>
        from t_ds_datasource
        where type = #{type}
    </select>
    <select id="listAuthorizedDataSource" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        <include refid="baseSql"/>
        from t_ds_datasource
        where 1=1
        <if test="userId != 0">
            and id in (select datasource_id from t_ds_relation_datasource_user where user_id=#{userId}
            union select id as datasource_id from t_ds_datasource where user_id=#{userId})
        </if>
        <if test="dataSourceIds != null and dataSourceIds.length > 0">
            and id in
            <foreach collection="dataSourceIds" item="i" open="(" close=")" separator=",">
                #{i}
            </foreach>
        </if>
    </select>

    <select id="queryDataSourceByNameAndUserId" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        ds.id as id,
        ds.name as name,
        ds.type as type
        from t_ds_datasource ds
        join t_ds_relation_datasource_user rel
        on ds.id = rel.datasource_id
        where ds.name = #{name,jdbcType=VARCHAR}
        and rel.user_id = #{userId}
    </select>

    <select id="selectPagingByIds" resultType="org.apache.dolphinscheduler.dao.entity.DataSource">
        select
        d.id, d.name, d.note, d.type, d.user_id, connection_params, d.create_time, d.update_time
        ,
        u.user_name as user_name
        from t_ds_datasource d
        join t_ds_user u on d.user_id = u.id
        where 1 =1
        <if test="name != null and name != ''">
            and d.name like concat ('%', #{name}, '%')
        </if>
        <if test="dataSourceIds != null and dataSourceIds.size() > 0">
            and d.id in
            <foreach collection="dataSourceIds" item="i" open="(" close=")" separator=",">
                #{i}
            </foreach>
        </if>
        order by update_time desc
    </select>

</mapper>
