<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.ProjectUserMapper">
    <delete id="deleteProjectRelation">
        delete from t_ds_relation_project_user
        where 1=1
        and user_id = #{userId}
        <if test="projectId != 0 ">
            and project_id = #{projectId}
        </if>
    </delete>
    <select id="queryProjectRelation" resultType="org.apache.dolphinscheduler.dao.entity.ProjectUser">
      select *
      from t_ds_relation_project_user
      where project_id = #{projectId}
      and user_id = #{userId}
      limit 1
    </select>
</mapper>