<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.ResourceMapper">
    <sql id="baseSqlV2">
       ${alias}.id, ${alias}.alias, ${alias}.file_name, ${alias}.description, ${alias}.user_id, ${alias}.type, ${alias}.size, ${alias}.create_time, ${alias}.update_time,
       ${alias}.pid, ${alias}.full_name, ${alias}.is_directory
    </sql>
    <select id="queryResourceList" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where 1= 1
        <if test="fullName != null and fullName != ''">
            and r.full_name = #{fullName}
        </if>
        <if test="type != -1">
            and r.type = #{type}
        </if>
        <if test="userId != 0">
            and r.user_id = #{userId}
        </if>
    </select>
    <select id="queryResourceListAuthored" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where 1 = 1
        <if test="type != -1">
            and r.type=#{type}
        </if>
        <if test="userId != 0">
            and r.user_id=#{userId}
        </if>
    </select>
    <select id="queryResourcePaging" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="d"/>
        </include>
        ,u.user_name
        from t_ds_resources d,t_ds_user u
        where d.type=#{type} and d.pid=#{id} and d.user_id=u.id
        <if test="userId != 0">
            and (
                    d.user_id=#{userId}
                    <if test="resIds != null and resIds.size() > 0">
                        or d.id in
                        <foreach collection="resIds" item="i" open="(" close=")" separator=",">
                            #{i}
                        </foreach>
                    </if>
                )
        </if>
        <if test="searchVal != null and searchVal != ''">
            and d.alias like concat('%', #{searchVal}, '%')
        </if>
        order by d.update_time desc
    </select>

    <select id="queryResourceExceptUserId" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where r.user_id <![CDATA[ <> ]]> #{userId}
    </select>

    <select id="listAuthorizedResource" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where r.type = 0
        and r.user_id=#{userId}

        <if test="resNames != null and resNames.length > 0">
            and full_name in
            <foreach collection="resNames" item="i" open="(" close=")" separator=",">
                #{i}
            </foreach>
        </if>
    </select>
    <select id="queryResourceListById" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where 1 = 1
        <if test="resIds != null and resIds.size() > 0">
            and r.id in
            <foreach collection="resIds" item="i" open="(" close=")" separator=",">
                #{i}
            </foreach>
        </if>
    </select>
    <select id="listAuthorizedResourceById" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where  r.user_id=#{userId}
        <if test="resIds != null and resIds.length > 0">
            and id in
            <foreach collection="resIds" item="i" open="(" close=")" separator=",">
                #{i}
            </foreach>
        </if>
    </select>

    <delete id="deleteIds" parameterType="java.lang.Integer">
        delete from t_ds_resources where id in
        <foreach collection="resIds" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </delete>

    <select id="listChildren" resultType="java.lang.Integer">
        select id
        from t_ds_resources
        where pid = #{direcotyId}
    </select>

    <select id="queryResource" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where r.type = #{type}
        and r.full_name = #{fullName}
    </select>

    <update id="batchUpdateResource" parameterType="java.util.List">
        <foreach collection="resourceList" item="resource" index="index" open="" close="" separator=";">
            update t_ds_resources
            <set>
                full_name=#{resource.fullName},
                update_time=#{resource.updateTime}
            </set>
            <where>
                id=#{resource.id}
            </where>
        </foreach>
    </update>

    <select id="listResourceByIds" resultType="org.apache.dolphinscheduler.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from t_ds_resources r
        where r.id in
        <foreach collection="resIds" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </select>

    <select id="existResourceByUser" resultType="java.lang.Boolean">
        select 1
        from t_ds_resources
        where full_name = #{fullName}
        and type = #{type}
        and user_id = #{userId} limit 1
    </select>

    <select id="existResource" resultType="java.lang.Boolean">
        select 1
        from t_ds_resources
        where full_name = #{fullName}
        and type = #{type} limit 1
    </select>
</mapper>
