<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.TaskDefinitionMapper">
    <sql id="baseSql">
        id, code, `name`, version, description, project_code, user_id, task_type, task_params, flag, task_priority,
        worker_group, fail_retry_times, fail_retry_interval, timeout_flag, timeout_notify_strategy, timeout,
        resource_ids, create_time, update_time
    </sql>
    <select id="queryByDefinitionName" resultType="org.apache.dolphinscheduler.dao.entity.TaskDefinition">
        select
        <include refid="baseSql"/>
        from t_ds_task_definition
        WHERE projectCode = #{projectCode}
        and `name` = #{taskDefinitionName}
    </select>
    <select id="queryAllDefinitionList" resultType="org.apache.dolphinscheduler.dao.entity.TaskDefinition">
        select
        <include refid="baseSql"/>
        from t_ds_task_definition
        where project_code = #{projectCode}
        order by create_time desc
    </select>

    <select id="queryDefinitionListByIdList" resultType="org.apache.dolphinscheduler.dao.entity.TaskDefinition">
        select
        <include refid="baseSql"/>
        from t_ds_task_definition
        where id in
        <foreach collection="ids" index="index" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </select>

    <select id="countDefinitionGroupByUser" resultType="org.apache.dolphinscheduler.dao.entity.DefinitionGroupByUser">
        SELECT td.user_id as user_id, tu.user_name as user_name, count(0) as count
        FROM t_ds_task_definition td
        JOIN t_ds_user tu on tu.id=td.user_id
        where 1 = 1
        <if test="projectCodes != null and projectCodes.length != 0">
            and td.project_id in
            <foreach collection="projectCodes" index="index" item="i" open="(" separator="," close=")">
                #{i}
            </foreach>
        </if>
        group by td.user_id,tu.user_name
    </select>
    <select id="queryByDefinitionId" resultType="org.apache.dolphinscheduler.dao.entity.TaskDefinition">
        select td.id, td.code, td.name, td.version, td.description, td.project_code, td.user_id, td.task_type, td.task_params,
        td.flag, td.task_priority, td.worker_group, td.fail_retry_times, td.fail_retry_interval, td.timeout_flag,
        td.timeout_notify_strategy, td.timeout, td.resource_ids, td.create_time, td.update_time, u.user_name,p.name as project_name
        from t_ds_task_definition td
        JOIN t_ds_user u ON td.user_id = u.id
        JOIN t_ds_project p ON td.project_code = p.code
        WHERE td.id = #{taskDefinitionId}
    </select>
    <select id="queryByDefinitionCode" resultType="org.apache.dolphinscheduler.dao.entity.TaskDefinition">
        select
        <include refid="baseSql"/>
        from t_ds_task_definition
        where code = #{taskDefinitionCode}
    </select>
    <select id="listResources" resultType="java.util.HashMap">
        SELECT id,resource_ids
        FROM t_ds_task_definition
        WHERE  resource_ids is not null and resource_ids != ''
    </select>

    <select id="listResourcesByUser" resultType="java.util.HashMap">
        SELECT id,resource_ids
        FROM t_ds_task_definition
        WHERE user_id = #{userId} resource_ids is not null and resource_ids != ''
    </select>
    <delete id="deleteByCode">
        delete from t_ds_task_definition
        where code = #{code}
    </delete>
    <update id="updateByCode" parameterType="org.apache.dolphinscheduler.dao.entity.TaskDefinition">
        update t_ds_task_definition
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                `name`=#{name},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="project_code != null">
                project_code=#{project_code},
            </if>
            <if test="user_id != null">
                user_id=#{user_id},
            </if>
            <if test="task_type != null">
                task_type=#{task_type},
            </if>
            <if test="task_params != null">
                task_params=#{task_params},
            </if>
            <if test="flag != null">
                flag=#{flag},
            </if>
            <if test="task_priority != null">
                task_priority=#{task_priority},
            </if>
            <if test="worker_group != null">
                worker_group=#{worker_group},
            </if>
            <if test="fail_retry_times != null">
                fail_retry_times=#{fail_retry_times},
            </if>
            <if test="fail_retry_interval != null">
                fail_retry_interval=#{fail_retry_interval},
            </if>
            <if test="timeout_flag != null">
                timeout_flag=#{timeout_flag},
            </if>
            <if test="timeout_notify_strategy != null">
                timeout_notify_strategy=#{timeout_notify_strategy},
            </if>
            <if test="timeout != null">
                timeout=#{timeout},
            </if>
            <if test="resource_ids != null">
                resource_ids=#{resource_ids},
            </if>
            <if test="update_time != null">
                update_time=#{update_time},
            </if>
            where code=#{code}
        </trim>
    </update>
</mapper>
