{
    "presets": [
      ["env", {
        "loose": true,
        "debug": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "ie >= 9",
            "edge >= 12",
            "firefox >= 28",
            "chrome >= 29",
            "opera >= 17"
          ]
        },
        "production": {
          "plugins": ["transform-remove-console"]
        }
      }]
    ],
    "plugins": [
      [ "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true } ],
      [ "transform-class-properties", { "spec": true } ],
      [ "transform-object-rest-spread", { "useBuiltIns": true } ],
      [ "transform-vue-jsx" ],
      [ "syntax-dynamic-import" ]
    ],
    "comments": false
  }
  