/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.file-edit-content {
  width: 100%;
  padding-bottom: 20px;
  > h2 {
    line-height: 60px;
    text-align: center;
    padding-right: 170px;
    position: relative;
  }
}

.form-content {
  padding: 0 50px 0 50px;
}

.submit {
  text-align: left;
  padding-top: 12px;
  margin-left: 160px;
}

.table-box {
  table {
    width: 100%;
    tr {
      height: 40px;
      font-size: 12px;
      th,
      td {
        &:nth-child(1) {
          width: 50px;
          text-align: center;
        }
      }
      th {
        &:nth-child(1) {
          width: 60px;
          text-align: center;
        }
        > span {
          font-size: 12px;
          color: #555;
        }
      }
    }
  }
}

.breadcrumb {
  padding-left: 10px;
}
