/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.log-pop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  .log-box {
    width: 660px;
    height: 520px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -340px;
    margin-top: -250px;
    .title {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dcdedc;
      .left-item {
        font-size: 16px;
        color: #333;
        display: inline-block;
        padding-left: 20px;
      }
      .right-item {
        padding-right: 10px;
        .button {
          margin-right: 10px;
        }
      }
    }
    .content {
      height: calc(100% - 100px);
      background: #002a35;
      padding: 6px 2px;
      .content-log-box {
        width: 100%;
        height: 100%;
        word-break: break-all;
        textarea {
          background: none;
          color: #9cabaf;
          border: 0;
          font-family: 'Microsoft Yahei,Arial,Hiragino Sans GB,tahoma,SimSun,sans-serif';
          font-weight: bold;
          resize: none;
          line-height: 1.6;
          padding: 0px;
        }
      }
    }
    .operation {
      text-align: right;
      height: 50px;
      line-height: 44px;
      border-top: 1px solid #dcdedc;
      padding-right: 20px;
      background: #fff;
      position: relative;
    }
  }
}
@-webkit-keyframes rotateloading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotateloading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotateloading {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotateloading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
