/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 .tree-model {
  width: calc(100%);
  height: calc(100vh - 300px);
  overflow-x: scroll;
  .d3-tree {
    padding-left: 30px;
    .node {
      text {
        font: 11px sans-serif;
        pointer-events: none;
      }
    }
    rect {
      cursor: pointer;
      &.state {
        stroke: #666;
        shape-rendering: crispEdges;
      }
    }
    path {
      &.link{
        fill: none;
        stroke: #666;
        stroke-width: 2px;
      }
    }
    circle {
      stroke: #666;
      fill: #0097e0;
      stroke-width: 1.5px;
      cursor: pointer;
    }
  }
}

