/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$STROKE_BLUE: #288fff;
$BG_WHITE: #ffffff;
@mixin nodeSelected {
  border-color: #288fff;
  border-style: dashed;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  .task-node-image {
    filter: grayscale(0%);
  }
  .task-node-name {
    color: #288fff;
  }
}

.x6-node[data-shape='dag-task'] {
  &.available {
    .dag-task-body {
      stroke: $STROKE_BLUE;
      stroke-width: 1;
      stroke-dasharray: 5, 2;
    }
    &.adsorbed {
      .dag-task-body {
        stroke-width: 3;
      }
    }
  }
}
.task-node {
  width: 220px;
  line-height: 48px;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #e3e3e3;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #dfe9f7;
    @include nodeSelected();
  }
  .task-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.task-icon {
  background-size: 100%;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.task-icon-shell {
  background-image: url('@/assets/images/task-icons/shell_hover.png');
}
.task-icon-sub_process {
  background-image: url('@/assets/images/task-icons/sub_process_hover.png');
}
.task-icon-data_quality {
  background-image: url('@/assets/images/task-icons/data_quality_hover.png');
}
.task-icon-procedure {
  background-image: url('@/assets/images/task-icons/procedure_hover.png');
}
.task-icon-sql {
  background-image: url('@/assets/images/task-icons/sql_hover.png');
}
.task-icon-flink {
  background-image: url('@/assets/images/task-icons/flink_hover.png');
}
.task-icon-mr {
  background-image: url('@/assets/images/task-icons/mr_hover.png');
}
.task-icon-python {
  background-image: url('@/assets/images/task-icons/python_hover.png');
}
.task-icon-dependent {
  background-image: url('@/assets/images/task-icons/dependent_hover.png');
}
.task-icon-http {
  background-image: url('@/assets/images/task-icons/http_hover.png');
}
.task-icon-datax {
  background-image: url('@/assets/images/task-icons/datax_hover.png');
}
.task-icon-pigeon {
  background-image: url('@/assets/images/task-icons/pigeon_hover.png');
}
.task-icon-sqoop {
  background-image: url('@/assets/images/task-icons/sqoop_hover.png');
}
.task-icon-conditions {
  background-image: url('@/assets/images/task-icons/conditions_hover.png');
}
.task-icon-seatunnel {
  background-image: url('@/assets/images/task-icons/seatunnel_hover.png');
}
.task-icon-spark {
  background-image: url('@/assets/images/task-icons/spark_hover.png');
}
.task-icon-switch {
  background-image: url('@/assets/images/task-icons/switch_hover.png');
}
.task-icon-emr {
  background-image: url('@/assets/images/task-icons/emr_hover.png');
}
.task-node-selected {
  @include nodeSelected();
}
