name: Frontend

on:
  push:
    paths:
      - '.github/workflows/ci_frontend.yml'
      - 'dolphinscheduler-ui/**'
  pull_request:
    paths:
      - '.github/workflows/ci_frontend.yml'
      - 'dolphinscheduler-ui/**'

jobs:
  Compile-check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          version: 8
      - name: Compile
        run: |
          cd dolphinscheduler-ui
          npm install node-sass --unsafe-perm
          npm install
          npm run build

  License-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Check
        run: mvn -B apache-rat:check
