#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Publish Snapshot

on:
  release:
    types:
      - released

jobs:
  publish-snapshot:
    if: github.repository == 'apache/dolphinscheduler'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Maximize runner space
        uses: ./.github/actions/maximize-build-space
        with:
          root-reserve-mb: 30720
          temp-reserve-mb: 10240
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      - uses: actions/checkout@v4
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-backend
          restore-keys: ${{ runner.os }}-maven-
      - name: Setup JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 8
      - name: Set environment variables
        run: |
          if [[ ${{ github.event_name }} == "schedule" ]]; then
            echo "SETTINGS_PATH=./.github/workflows/publish-nexus/snapshot-asf-settings.xml" >> $SETTINGS_PATH
          elif [[ ${{ github.event_name }} == "release" ]]; then
            echo "SETTINGS_PATH=./.github/workflows/publish-nexus/release-asf-settings.xml" >> $SETTINGS_PATH
          else
            echo "unknown event name: ${{ github.event_name }}"
            exit 2
          fi
      - name: Publish snapshot with dev branch
        env:
          ASF_USERNAME: ${{ secrets.NEXUS_USER }}
          ASF_PASSWORD: ${{ secrets.NEXUS_PW }}
        run: |
          ./mvnw clean deploy \
          -s ${{ env.SETTINGS_PATH }} \
          -Dmaven.test.skip=true \
          -Dspotless.skip=true \
          -Dmaven.deploy.skip=false \
          -Pstaging
